html,body {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

@keyframes gba {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

.dark-thumb-vertical, .dark-thumb-horizontal{
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
}

.splitter-layout {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.splitter-layout .layout-pane {
    position: relative;
    flex: 0 0 auto;
    overflow: auto;
}

.splitter-layout .layout-pane.layout-pane-primary {
    flex: 1 1 auto;
}

.splitter-layout > .layout-splitter {
    flex: 0 0 auto;
    width: 4px;
    height: 100%;
    cursor: col-resize;
    background-color: #ccc;
}

.splitter-layout .layout-splitter:hover {
    background-color: #bbb;
}

.splitter-layout.layout-changing {
    cursor: col-resize;
}

.splitter-layout.layout-changing > .layout-splitter {
    background-color: #aaa;
}

.splitter-layout.splitter-layout-vertical {
    flex-direction: column;
}

.splitter-layout.splitter-layout-vertical.layout-changing {
    cursor: row-resize;
}

.splitter-layout.splitter-layout-vertical > .layout-splitter {
    width: 100%;
    height: 4px;
    cursor: row-resize;
}
